ALTER TABLE public.users DROP CONSTRAINT users_role_check; ALTER TABLE public.users ALTER COLUMN role TYPE text[] USING ARRAY[role]; ALTER TABLE public.users ADD CONSTRAINT users_role_check CHECK (role <@ ARRAY['admin', 'moderator', 'creator', 'viewer']::text[]);
